.box {
  padding: 0 15px;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.content-header {
  background-color: #03A9F4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFF;
}

.content-header h2 {
  margin: 5px 0 0;
  padding: 5px;
}

.content-wrap .content-item {
  border: 1px solid #CCC;
  border-top: 0;
}

.content-wrap .content-item:hover {
  cursor: pointer;
}

.content-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.new-customer-cta {
  color: #03A9F4;
}

.details-wrap {
  padding: 0 10px;
}

.details-wrap span {
  font-weight: bold;
}

.btn-wrap {
  display: flex;
  flex-direction: row-reverse;
}

.details-btn {
  background-color: #FFF;
  border: 3px solid #03A9F4;
  border-radius: 4px;
  display: inline-block;
  font-size: 1em;
  margin: 5px 0 5px 5px;
  padding: 10px;
}

.delete {
  border: 3px solid #F44336;
}

.details-btn:hover {
  background-color: #EBEBEB;
  color: #333;
  cursor: pointer;
}
