.list-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.list-header {
  background-color: #03A9F4;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #FFF;
}

.list-header h2 {
  margin: 5px 0 0;
  padding: 5px;
}

.list-wrap .list-item {
  border: 1px solid #CCC;
  border-top: 0;
}

.list-wrap .list-item:hover {
  cursor: pointer;
}

.list-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}